.more-screen .user-component__text {
  position: relative;
}

.more-screen .user-component__exclamation {
  position: absolute;
  bottom: 0px;
  right: -20px;
}

.more-screen .icon-row {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 35px;
}

.more-screen .icon-row__icon {
  width: 110px;
  margin-bottom: 50px;
}

.more-suggestions {
  padding-top: 40px;
  border-top: var(--main-border);
}

.more-suggestions__title {
  margin-bottom: 20px;
}
