.more-screen .user-component__text {
  position: relative;
}

.more__notification {
  position: absolute;
}

.more-screen .badge--exclamation {
  bottom: 1px;
  right: -20px;
}

.more-screen .icon-row {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 35px;
}

.more-screen .icon-row__icon {
  width: 110px;
  margin-bottom: 50px;
}

.more-screen .icon-row__icon:nth-child(2) {
  position: relative;
}

.more-screen .icon-row .badge--sm {
  top: -30px;
  right: 25px;
}

.more-suggestions {
  padding-top: 40px;
  border-top: var(--main-border);
}

.more-suggestions__title {
  margin-bottom: 20px;
}
