.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:nth-child(3) {
  padding-bottom: 50px;
}

.settings__setting:nth-child(4) {
  padding-top: 50px;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column {
  position: relative;
}

.settings__notification {
  position: absolute;
  top: 0;
  right: -40px;
  text-transform: uppercase;
}

.settings__setting-column:last-child {
  color: var(--gray-color);
}
