@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.badge {
  width: 15px;
  height: 15px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.badge--lg {
  width: 30px;
  height: 30px;
}

.badge--sm {
  width: 10px;
  height: 10px;
}

.badge--exclamation {
  color: tomato;
  background-color: white;
}
